@import "../../../_settings";

.card-item {
    display: flex;
    
    justify-content: space-between;
    align-items: end;
    background-color: rgb(250, 250, 250);
    padding: $gap;
    border-radius: $card-border-radius;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    
    .card-title{
        font-size: 20px;
        padding-left: 10px;
        cursor: pointer;
        color: #888;

        &:hover {
            color: #333;
        }
    }

    .card-dropdown {
        width: 8%;
        .dropdown-toggle {
            margin-top: -14px;
            padding: 3px 8px;
            border: none !important;

            &::after {
                content: "...";
                cursor: pointer;
                outline: none !important;
                box-shadow: none !important;
                border: none !important;

            }

            &:hover {
                background-color: #ff000021;
            }
            &:focus{
                outline: none !important;
                box-shadow: none !important;
            }
        }
    }
    }

    .data-card {
        display: block;
        justify-content: baseline;
        align-items: flex-start;

        width: 300px;
        height: 300px;

        .close-btn {
            display: flex;
            justify-content: end;
            align-items: end;
        }
    }

