$board-bg-color: rgb(163, 163, 163);
$navbar-app-bg-color: rgb(187, 185, 185);
$navbar-board-bg-color: rgb(173, 172, 172);
$list-bg-color: #d3d3d4;
$app-main-color:#333;
$gap: 10px;
$column-header-height: 45px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius:5px;

//screen
$screen-lg: 1201px;
$screen-md:992px;
$screen-sm:768px;
$screen-phone:480px;
$screen-ip6-down: '(max-width: 375px)';
